@import "./variables.scss";

.note {
	position: relative;
	background-color: $noteCard_bg;
	border-radius: 10px;
	width: 250px;
	height: 300px;
	margin-bottom: auto;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	transition: all 0.3s;

	.note_author {
		padding: 0px;
		margin: 0px;
		font-size: 1rem;
		text-align: left;
		padding-left: 10px;
	}

	.note_title {
		margin: 5px 0px 0px 0px;
		padding: 0px;
	}

	.note_footer {
		position: absolute;
		bottom: 0;
		right: 0;

		width: 100%;

		display: flex;
		justify-content: space-evenly;

		padding-bottom: 10px;
		
		.note_editBTN {
			text-decoration: none;
			font-size: .8rem;
			line-height: 1.3rem;
			color: #830;
			&:hover {
				text-decoration: underline;
			}
		}
		.note_date {
			padding: 0;
			margin: 0;
		}
	}
}

.getLarger {
	height: auto;
	grid-row: span 2;
}


@media (max-width: 300px){
	.note{
		width: 100%;
		min-width:200px ;
	}
}
