@import "./variables.scss";

.profile {
	min-height: $minHeight_page;
	width: 100%;
}

.profile_content {
	width: 70%;
	margin: auto;
	padding-top: 70px;
	margin-bottom: 30px;

	display: grid;
	grid-template-columns: 20% 80%;
	grid-gap: 20px;

	h3 {
		text-align: center;
	}

	.profile_UserSection {
		margin-bottom: auto;
		display: flex;
		flex-direction: column;

		span {
			font-weight: bold;
		}

		.userSection_box {
			word-break: break-all;
			border: 1px solid black;
			border-radius: 15px;

			.profile_UserData {
				padding: 30px;

				.span_email {
					display: block;
				}
			}
		}
	}

	.profile_NoteSection {
		margin-bottom: auto;
		width: 95%;
		border-radius: 15px;
		border: 1px solid black;
		padding: 0px 20px 30px 20px;

		.profil_Notes {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 20px;
			justify-items: center;
		}
	}
}

.noNotes {
	grid-column: span 3;
	font-size: 1.3rem;
	font-weight: bold;
}

.updateBTN {
	width: 85%;
	margin-top: 15px;
	background-color: $profile_editBTN;
	font-size: 1.07rem;
	border: 1px solid black;
	border-radius: 5px;

	cursor: pointer;
	align-self: center;
}

.editUserForm_open {
	background-color: $profile_editeBTN-active;
}

@media (max-width: 1500px) {
	.profile_content {
		grid-template-columns: 30% 70%;
		.profile_NoteSection {
			.profil_Notes {
				grid-template-columns: repeat(2, 1fr);
			}
		}
	}
}

@media (max-width: 1150px) {
	.profile_content {
		width: 80%;
		grid-template-columns: 95%;

		.profile_UserSection {
			.userSection_box {

				.profile_UserData {
					text-align: center;
					padding: 0px 0px 10px 0px;
					display: flex;
					justify-content: space-evenly;

					p {
						display: inline;
					}
					.span_email {
						display: inline;
					}
				}
			}
		}
		.updateBTN {
			width: 220px;
		}
	}
}

@media (max-width: 700px) {
	.profile_content {
		.profile_NoteSection {
			width: auto;
			.profil_Notes {
				grid-template-columns: repeat(1, 1fr);
			}
		}
	}
}

@media (max-width:500px){
.profile_content {

		.profile_UserSection {
			.userSection_box {

				.profile_UserData {
					text-align: center;
					padding: 0px 0px 10px 0px;
					display: initial;
					//justify-content: space-evenly;

					p {
						display: block;
					}
					.span_email {
						display: block;
					}
				}
			}
		}
		.updateBTN {
			width: 220px;
		}
	}
}

@media (max-width:380px){
	.profile_content{
		width: 98%;
		grid-template-columns: 100%;
	}
}
